{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        {% if validlink %}

            <div class="row margin-top-50 margin-bottom-10">
                <div class="col-md-12">
                    <div class="notification notice closeable margin-bottom-30">
                        <p class="margin-bottom-20"><strong>برای تغییر رمز عبور به موارد زیر دقت فرمایید : </strong></p>
                        <p class="margin-bottom-10"><span>1 . رمز عبور شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</span></p>
                        <p class="margin-bottom-10"><span>2 . رمز عبور شما می‌بایست حداقل از 8 کاراکتر تشکیل شده باشد.</span></p>
                        <p class="margin-bottom-10"><span>3 . رمز عبور شما نمی تواند یک گذرواژه معمول باشد.</span></p>
                        <p><span>4 . رمز عبور شما نمی تواند کاملا عدد باشد.</span></p>

                    </div>
                </div>
            </div>

            <div class="row margin-top-10 margin-bottom-100">
                <div class="col-lg-12 col-md-12">
                    <div class="utf_dashboard_list_box margin-top-0">
                        <h4 class="gray"><i class="sl sl-icon-key"></i> تغییر رمز عبور </h4>
                        <div class="utf_dashboard_list_box-static">
                            <div class="my-profile">
                                <div class="row with-forms">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="col-md-offset-1 col-md-10">
                                            <label for="{{ form.new_password1.id_for_label }}">رمز عبور جدید :</label>
                                            {{ form.new_password1 }}


                                        </div>
                                        <div class="col-md-offset-1 col-md-10">
                                            <label for="{{ form.new_password2.id_for_label }}"> تکرار رمز عبور جدید :</label>
                                            {{ form.new_password2 }}

                                        </div>
                                        <div class="col-md-12">
                                            <button class="button btn_center_item margin-top-15">تغییر رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="notification error closeable margin-top-50">
                <div class="container">
                    <p>این لینک دیگر معتبر نمی باشد لطفا دوباره تلاش بفرمایید</p>
                </div>
            </div>

        {% endif %}

    </div>
{% endblock %}