{% extends 'shared/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-top-90 margin-bottom-100">

                <div class="add_utf_listing_section">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-user"></i> رمز عبور خود را فراموش کرده اید ؟</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                در صورتی که رمز عبور خود را فراموش کرده اید آدرس ایمیل خود را وارد نمایید :
                                <hr>
                                <div class="col-md-8 col-md-offset-2">
                                    <form method="post" class="margin-top-25">
                                    {% csrf_token %}
                                        {{ form.email }}
                                        <div class="text-center text-danger">
                                            {% for error in form.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                        <input type="submit" value="ارسال">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}