{% load static %}
<!-- Scripts -->
<script src="{% static 'main/scripts/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'main/scripts/chosen.min.js' %}"></script>
<script src="{% static 'main/scripts/slick.min.js' %}"></script>
<script src="{% static 'main/scripts/rangeslider.min.js' %}"></script>
<script src="{% static 'main/scripts/magnific-popup.min.js' %}"></script>
<script src="{% static 'main/scripts/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/scripts/bootstrap-select.min.js' %}"></script>
<script src="{% static 'main/scripts/mmenu.js' %}"></script>
<script src="{% static 'main/scripts/tooltips.min.js' %}"></script>
<script src="{% static 'main/scripts/color_switcher.js' %}"></script>
<script src="{% static 'main/scripts/jquery_custom.js' %}"></script>