{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}">
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'main/css/stylesheet.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="{% static 'main/css/mmenu.css' %}">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" id="colors">
<link rel="stylesheet" href="{% static 'main/css/stylesheet_rtl.css' %}">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">