<nav id="navigation" class="style_one">


    <ul id="responsive">


        <li><a href="{% url 'store_shop:product_list' %}">محصولات </a></li>

        <li><a href="">دسته بندی ها </a>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>

        <li><a href="{% url 'store_contact:contact_us' %}">تماس با ما </a></li>

        <li><a href="{% url 'store_setting:about_us' %}">درباره ما </a></li>


    </ul>


</nav>
<div class="clearfix"></div>
